body {
  font-family: sans-serif;
  margin: 0;
}

.nav {
  color: #fff;
  padding: 2rem;
  pointer-events: none;

  h1 {
    font-weight: normal;
    margin: 0;
  }

  .nav-inner {
    flex-direction: column;
    justify-content: center;
    display: flex;
    height: 100%;
    position: absolute;
    z-index: 2;
  }
}

.scene,
.scene canvas {
  height: 100%;
  width: 100%;
}

canvas {
  display: block;
}

.scene2d {
  position: absolute;
  top: 0;
  z-index: 1;

  .label {
    color: #fff;
  }
}

.section {
  box-sizing: border-box;
  padding: 0 1rem;
  margin: auto;
  max-width: 1024px;
}
