body {
  font-family: sans-serif;
  margin: 0;
}

.nav {
  color: #fff;
  padding: 2rem;
  pointer-events: none;

  h1 {
    font-weight: normal;
    margin: 0;
  }

  .nav-inner {
    flex-direction: column;
    justify-content: center;
    display: flex;
    height: 100%;
    position: absolute;
    z-index: 2;
  }
}

.scene,
.scene canvas {
  height: 100%;
  width: 100%;
}

canvas {
  display: block;
}

.scene2d {
  position: absolute;
  top: 0;
  z-index: 1;

  .label {
    background-color: #fff;
    border-radius: .25rem;
    color: #0099ff;
    padding: .75rem 1rem;
    text-decoration: none;

    &-hide {
      display: none;
    }

    &::before {
      content: '';
      height: 0;
      position: absolute;
      width: 0;
    }

    &-left::before {
      left: 1rem;
    }

    &-right::before {
      right: 1rem;
    }

    &-top::before,
    &-bottom::before {
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
    }

    &-top::before {
      border-bottom: 1rem solid #fff;
      top: -.95rem;
    }

    &-bottom::before {
      border-top: 1rem solid #fff;
      bottom: -.95rem;
    }
  }
}

.section {
  box-sizing: border-box;
  padding: 0 1rem;
  margin: auto;
  max-width: 1024px;
}
